<div class="row">
  <div class="col-md-7">
    <div class="form-group">
      <label>Espectrometro: </label>
      <input type="text" class="form-control" id="espectrometros" name="espectrometros" [ngModel]="experimento.espectrometro" disabled />
    </div>
  </div>

  <div class="col-md-7">
    <div class="form-group">
      <label>Sondas: </label>
      <input type="text" class="form-control" id="sonda" name="sonda" [ngModel]="experimento.sonda" disabled />
    </div>
  </div>

  <div class="col-md-7">
    <div class="form-group">
      <label>Fecha de entrada: </label>
      <input type="date" class="form-control" [ngModel]="experimento.fecha_entrada | date:'yyyy-MM-dd'" name="fecha_entrada" disabled>
    </div>
  </div>

  <div class="col-md-7">
    <div class="form-group">
      <label>Usuario de entrada: </label>
      <input type="text" class="form-control" name="usuario_entrada" [ngModel]="experimento.usuario_entrada" disabled>
    </div>
  </div>

  <div class="col-md-7">
    <div class="form-group">
      <label>Muestra: </label>
      <input type="text" class="form-control" name="muestra" [ngModel]="experimento.muestra" disabled>
    </div>
  </div>

  <div class="col-md-7" *ngIf="experimento.espectrometro == 'ESPECTRÓMETRO BRUKER AVANCE III / HD(Muestras sólidas)'">
    <div class="form-group">
      <label>Nucleo: </label>
      <input type="text" class="form-control" name="usuario_entrada" [ngModel]="experimento.nucleo" disabled>
    </div>
  </div>

  <div class="col-md-7">
    <div class="form-group">
      <label>ID Solicitud: </label>
      <input type="text" class="form-control" name="id_solicitud" [ngModel]="experimento.solicitud" disabled>
    </div>
  </div>

  <div class="col-md-6">
    <label for="finalizado"> Finalizado </label>
    <div class="form-group input-group">
      <label for="finalizado" class="checkbox-inline">
        <input type="checkbox" class="form-control" [ngModel]="experimento.completo" name="finalizado" disabled> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </label>
    </div>
  </div>

  <div class="col-md-6">
    <label for="finalizado"> Recuperar muestra:</label>
    <div class="form-group input-group">
      <label for="visible" class="checkbox-inline">
        <input type="checkbox" class="form-control" [ngModel]="experimento.visible" name="visible" disabled> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </label>
    </div>
  </div>

  <div class="col-md-7">
    <br />
  </div>

  <div class="col-md-7" *ngIf="experimento.completo && experimento.visible">
    <div class="form-group">
      <label>Fecha de salida: </label>
      <input type="date" class="form-control" [ngModel]="experimento.fecha_salida | date:'yyyy-MM-dd'" name="fecha_salida" disabled>
    </div>
  </div>

  <div class="col-md-7" *ngIf="experimento.completo && experimento.visible">
    <div class="form-group">
      <label>Usuario de salida: </label>
      <input type="text" class="form-control" name="usuario_salida" [ngModel]="experimento.usuario_salida" disabled>
    </div>
  </div>

  <div class="col-md-6 form-group">
    <button (click)="editarExperimento()" class="btn btn-warning">
      Editar
      <span class="glyphicon glyphicon-edit"></span>
    </button>
  </div>

  <div class="col-md-6 form-group">
    <button class="btn btn-danger" type="button" (click)="deleteExperimento()">
      Eliminar
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>
